
/* <!---------------------------------------------------------------------------------------------------------------------------------------
    container e font 
-------------------------------------------------------------------------------------> */
#container{
    background-image: url(../assets/bg.jpg);
    background-repeat: no-repeat;
    height: 100rem;
    width: 100%;
    padding: 40px 100px 100px 100px ;
}
/* <!---------------------------------------------------------------------------------------------------------------------------------------
    header feedback page 
-------------------------------------------------------------------------------------> */
.logo{
   width: 12rem;
}



/* <!---------------------------------------------------------------------------------------------------------------------------------------
    footer feedback page 
-------------------------------------------------------------------------------------> */


.button{
    color: white;
    border: 2px solid white;
    background: none;
    font-size: 1.2rem;
    width: 13rem;
    height: 3rem;
    font-weight: bold;
    background-image: url(../assets/bg.jpg);
}

.button.blueButton{
background-color: ;
}