/* <!---------------------------------------------------------------------------------------------------------------------------------------
    container e font 
    -------------------------------------------------------------------------------------> */
    :root{
        font-family: 'Inter', sans-serif;
        font-family: 'Outfit', sans-serif;
        color:#00FFFF;
        color: #D20094 ;
        color: #900080;
    }
          
        
    #container{
        background-image: url(../assets/img/bg.jpg);
        background-repeat: no-repeat;
        width: 57rem;
        height: 46rem;
        padding: 40px 100px 100px 100px ;
    }
    
    /* <!---------------------------------------------------------------------------------------------------------------------------------------
        header feedback page 
    -------------------------------------------------------------------------------------> */
    .logo{
       width: 12rem;
    }
    /* <!---------------------------------------------------------------------------------------------------------------------------------------
        main feedback page 
    -------------------------------------------------------------------------------------> */
   
    .welcomeTitle {
        color: white;
        font-size: 3.5rem;
        font-family: 'Outfit', sans-serif;
        
    }
    
    .bold {
        font-weight: bold;
        padding-bottom: 3%;
    }
    
    .caption {
        color: white;
        font-family: 'Inter', sans-serif;
        font-size: smaller;
        letter-spacing: 0.02rem;
        padding-bottom: 3%;
    }
    
    .list{
        color: white;
        font-size: smaller;
        font-family: 'Inter', sans-serif;
        letter-spacing: 0.02rem;
        padding-bottom: 7%;
    }
    
    .secondTitle {
        color: #d20094;
        font-weight: bold;
        font-size: 1.2rem;
        padding-bottom: 1%;
        font-family: 'Outfit', sans-serif;
        letter-spacing: 0.1rem;
    }
    
    /* <!---------------------------------------------------------------------------------------------------------------------------------------
    footer feedback page 
    -------------------------------------------------------------------------------------> */
    
    .check {
        color: white;
        appearance: none;
        width: 15px; 
        height: 15px;
        border: 2px solid white;
        cursor: pointer; 
        background-color: transparent; 
    }
    .right{
        display: inline-block;
       padding-left: 200px;
    }
    .left{
        display: inline-block;
    }

    #divButton{
        text-align: center;
        margin-top: 3rem;
        padding-bottom: 50rem;
    }
    
    .button{
        color: white;
        border: 2px solid white;
        background: none;
        font-size: 1.2rem;
        width: 13rem;
        height: 4rem;
        font-weight: bold;
        background-image: url(../assets/bg.jpg);
    }
    
    .button.blueButton{
     background: #00FFFF;
     box-shadow: 2px 2px 30px #00FFFF;
     color: #0b113b;
     border: none;
    }
    
    
    
    
    