
/* <!---------------------------------------------------------------------------------------------------------------------------------------
    container/ font/ timer
    -------------------------------------------------------------------------------------> */
  :root{ 
     --interFont: "Inter", sans-serif;
    --outfitFont: "Outfit", sans-serif;
    --blueColor: #00ffff;
    --pinkColor: #d20094;
  }
#container{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    padding: 40px 100px 100px 100px;
    background-size: cover;
}
.center{
    text-align: center;
}

/* <!---------------------------------------------------------------------------------------------------------------------------------------
    header feedback page 
-------------------------------------------------------------------------------------> */
.logo{
   width: 160px;
   height: 40px;
}
.timer {
    width: 115px;
    height: 115px
}

.hidden{
    visibility: hidden;
}
/* <!---------------------------------------------------------------------------------------------------------------------------------------
 margin delle macroaree
-------------------------------------------------------------------------------------> */
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.main{
margin-bottom: 30px;
}

/* <!---------------------------------------------------------------------------------------------------------------------------------------
    section Title RESUlTS page 
-------------------------------------------------------------------------------------> */



.title{
    color: white;
   margin-bottom: 30px;
   
}
.mainTitle{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0.8rem;
    font-family: var(--interFont);
    text-align: center;
}
.description{
    font-family: var(--interFont);
    font-size: 2rem;
    color:#dedee3;;
    text-align: center;
}

/* <!---------------------------------------------------------------------------------------------------------------------------------------
    percentuale risultati  results page 
-------------------------------------------------------------------------------------> */
#results{
    display: flex;
    color: white;
    justify-content: space-evenly;
}
.leftSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rightSection{
   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;

}


.sectionTitle{
    font-size: 3.5rem;
    font-family: var(--interFont);
}

.valueTitle{
    font-size: 3.5rem;
    font-family: var(--outfitFont);
    font-weight: bold;
}
.correctQuestions{
    font-size: 1.2rem;
    color: #cacbd4;
    font-family: 'Outfit';
}







/* <!---------------------------------------------------------------------------------------------------------------------------------------
   BUTTON STYLE
-------------------------------------------------------------------------------------> */

.footer #divButton{
    text-align: center;
    margin-top: 3rem;
}


.button{
    color: white;
    border: 2px solid white;
    background: none;
    font-size: 1.2rem;
    width: 13rem;
    height: 3.6rem;
    font-weight: bold;
   
  
}

.button.blueButton{
background: #00FFFF;
box-shadow: 2px 2px 30px #00FFFF;
color: #0b113b;
border: none;
}

/* start chart donuts css */
.chartContainer{
    width: 400px;
    z-index: 999
}
.programmingStats{
   font-family: "Inter", sans-serif;;
  
}
.details {
    position: absolute;
    bottom: 204px;
    left: 469px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    color: white;
    font-family: var(--outfitFont);
}

.chartHeading{
    font-size: 23px;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
}
.chartPassed{
    font-size: 24px;
    font-weight: bold;
    font-family: "Outfit", sans-serif;
    color: #00ffff;
}
.chartFooter{
    margin-top: 25px;
    color: #ebd2d2;
    padding: 8px;
    font-size: 11px;
}

.chartFooter span{
    display: block;
}
/* finish chart donuts css */
@media screen and (max-width: 768px) {
    .details {
        position: static; /* Torna al posizionamento predefinito */
        margin-top: 15px; /* Aggiungi spazio in alto invece di posizionamento assoluto */
        text-align: center; /* Riposiziona il testo al centro */
    }
}
@media screen and (min-width: 1000px) {
    .details {
        position: absolute; /* Riporta al posizionamento assoluto */
        bottom: 330px; /* Regola il valore di 'bottom' in base alle dimensioni dello schermo */
        left: 50.5%; /* Posiziona il contenuto al centro orizzontalmente */
        transform: translateX(-50%); /* Centra orizzontalmente il contenuto */
    }
}
