
/* <!---------------------------------------------------------------------------------------------------------------------------------------
    container/ font/ timer
    -------------------------------------------------------------------------------------> */
:root{
    --interFont: 'Inter', sans-serif;
    --outfitFont: 'Outfit', sans-serif;
    --blueColor:#00FFFF;
    --pinkColor: #D20094 ;
    --violaColor: #900080;
}
      
    
#container{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    padding: 40px 100px 100px 100px;
    background-size: cover;
}
.timer {
    visibility: hidden;
        width: 115px;
        height: 115px
    }
/* <!---------------------------------------------------------------------------------------------------------------------------------------
    header feedback page 
-------------------------------------------------------------------------------------> */
.logo{
   width: 160px;
   height: 40px;
}

/* <!---------------------------------------------------------------------------------------------------------------------------------------
    main feedback page 
-------------------------------------------------------------------------------------> */


/* <!---------------------------------------------------------------------------------------------------------------------------------------
    section Title RESUlTS page 
-------------------------------------------------------------------------------------> */
#header{
    display: flex;
    justify-content: space-between;
    height: 3rem;
}

.title{
    color: white;
   margin: 1.5rem 0;
    text-align: center;
}
.mainTitle{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 0.8rem;
    font-family: var(--interFont);
}
.description{
    font-family: var(--interFont);
    font-size: 2rem;
    color:#dedee3;;
}

/* <!---------------------------------------------------------------------------------------------------------------------------------------
    percentuale risultati  results page 
-------------------------------------------------------------------------------------> */
#section{
    display: flex;
    color: white;
    justify-content: space-evenly;
}
.leftSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 27rem;
}
.rightSection{
   
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 27rem;
        align-items: end;

}
.secondSection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionTitle{
    font-size: 3.5rem;
    font-family: var(--interFont);
}

.valueTitle{
    font-size: 3.5rem;
    font-family: var(--outfitFont);
    font-weight: bold;
}
.correctQuestions{
    font-size: 1.2rem;
    color: #cacbd4;
    font-family: 'Outfit';
}
.secondSection img{
    width: 70%;
}






/* <!---------------------------------------------------------------------------------------------------------------------------------------
   BUTTON STYLE
-------------------------------------------------------------------------------------> */

#divButton{
    text-align: center;
    margin-top: 3rem;
}


.button{
    color: white;
    border: 2px solid white;
    background: none;
    font-size: 1.2rem;
    width: 13rem;
    height: 3.6rem;
    font-weight: bold;
   
  
}

.button.blueButton{
background: #00FFFF;
box-shadow: 2px 2px 30px #00FFFF;
color: #0b113b;
border: none;
}
@media screen and (max-width:880px) {
    #section{
        display: flex;
        flex-direction: column;
        color: white;
        height: 50rem;
           
    }
    .rightSection{

        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 27rem;
       align-items: flex-start;
}
.secondSection{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
}
.secondSection img{
    width: 50%;
}
