/**************************** settings per le stelle feedback page *******************************/


.star {
   fill:#0b113b
}

.blueStar {
    fill: #00FFFF;
    transition: 3ms;
}

#rating {
    padding: 10px 0;
}


/********************************* settings del main **/

#container{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    width: 57rem;
    height: 46rem;
    padding: 40px 100px 100px 100px ;
    background-size: contain;
}

.logo {
    width:160;
    height:40px;
}

.timer {
    width: 115px;
    height: 115px
}
#header{
    display:flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.questions{
    text-align: center;
    color: white;
    margin-bottom: 70px;
}

.mainTitle{
    font-size: 60px;
    font-family: 'Outfit', sans-serif;
}

.bold {
    font-weight: 600;
}