/* <!---------------------------------------------------------------------------------------------------------------------------------------
    container e font 
    -------------------------------------------------------------------------------------> */
:root {
    font-family: 'Inter', sans-serif;
    font-family: 'Outfit', sans-serif;
    --blueColor: #00FFFF;
    --pinkColor: #D20094;
    --violaColor: #900080;
}


#container {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 100px 100px 100px;

}

/* <!---------------------------------------------------------------------------------------------------------------------------------------
        header feedback page 
    -------------------------------------------------------------------------------------> */
.logo {
    width: 160px;
    height: 40px;
}

#header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.timer {
    visibility: hidden;
    width: 115px;
    height: 115px
}

/* <!---------------------------------------------------------------------------------------------------------------------------------------
        main feedback page 
        -------------------------------------------------------------------------------------> */

#main {
    margin-bottom: 30px;
}

.title {
    margin-bottom: 40px;
}

.welcomeTitle {
    height: 3rem;
    color: white;
    font-size: 60px;
    font-family: 'Outfit', sans-serif;
}

li b {
    font-size: O.6rem;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.caption {
    color: #dedee3;
    font-family: 'Inter', sans-serif;
    font-size: smaller;
    padding-bottom: 6%;
}

.secondTitle {
    color: var(--pinkColor);
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 10px;
}

.list {
    list-style-type: disc;
    color: #dedee3;
    font-size: small;
    font-family: 'Inter', sans-serif;
    padding-left: 20px;
    padding-bottom: 7%;
}

.list li {
    padding-bottom: 1%;
}

/* <!---------------------------------------------------------------------------------------------------------------------------------------
    footer feedback page 
    -------------------------------------------------------------------------------------> */

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    color: #dedee3;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}

.button {
    color: white;
    border: 2px solid white;
    background: none;
    font-size: 1.2rem;
    width: 13rem;
    height: 3.5rem;
    font-weight: bold;
    background-image: url(../assets/bg.jpg);
}

.button.blueButton {
    background: #00FFFF;
    box-shadow: 2px 2px 30px #00FFFF;
    color: #0b113b;
    border: none;
}

#checkbox {
    display: none;

}

.customCheckbox {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid white;
    display: inline-block;
    margin-right: 10px;
}

#checkbox:checked+.customCheckbox {
    background-color: var(--violaColor);
    color: #fff;
}

.left p {
    font-weight: bold;
}